.reveal {
    font-family: 'Roboto', sans-serif;
}

.reveal h2,
.reveal h3{
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
}
.reveal p{
    font-family: 'Roboto', sans-serif;
}

.reveal h1{
    letter-spacing:5px;
}

.wide li{
    margin:20px 0 20px 0;
}

#profilepic {
    border-radius: 100px;
    max-width: 125px;
}

.reveal pre{
    width:95%;
}

.reveal pre code{
    padding:0 25px;
}