.reveal {
    font-family: 'Roboto', sans-serif;
}

.reveal h2,
.reveal h3 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.reveal p {
    font-family: 'Roboto', sans-serif;
}

.reveal h1 {
    letter-spacing: 5px;
    font-size: 60px;
}

.reveal h2 {
    font-size: 45px;
    margin-bottom: 45px;
}

.reveal h3 {
    font-size: 35px;
}
.reveal ul li {
    margin-bottom:10px;
}

.wide li {
    margin: 20px 0 20px 0;
}

#profilepic {
    border-radius: 100px;
    max-width: 125px;
}

.reveal pre {
    width: 95%;

}

.reveal pre code {
    max-height:450px;
    padding: 0 25px;
}

#intro {

}

#intro h3 {
    text-transform: capitalize;
}

#intro img,
#ng-be-shameless-promotion img {
    border: none;
}

#ng-be-shameless-promotion img {
    height:300px;
}

.reveal img.big {
    box-shadow: none;
}

#intro img.small {
    width: 20%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 30px;
}

.reveal img.small#cucumber {

}

.reveal .frameworklogo{
    width:50%;
    border: none;
    padding:20px;
    margin-bottom:40px;
}

#thanks img {
    border-radius: 500px;
    max-height:200px;
}